# Python specific
*.pyc
__pycache__/
venv/
logs/
.venv
data/
cache/
*.log

# Environment variables
.env
config.ini

# IDE specific
.vscode/
.idea/
.cache/

# Operating System
.DS_Store
Thumbs.db

# Arquivos
*.xlsx
*.csv
*.xlsm
*.parquet
*.html
*.txt